* {
    padding: 0px;
    margin: 0px;
    background-color: beige;
}

.Quiz_begin_page_hidder{
    display: none;
}


.Quiz_begin_page {
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
}

.Quiz_begin_page .timerstr > h1 {
    border-radius: 60px;
    box-shadow: -1px 6px 10px 5px gray;
    color: rgb(34, 161, 68);
    font-size: clamp(19px, 61vw, 141px);
    padding: 2vw 6vw;
    width: fit-content;
    margin: auto;
    position: absolute;
    z-index: 2;
    left: 40vw;
    top: 40vh;
}

.Quiz_begin_main {
    height: 80%;
    position: absolute;
    top: 5%;
    left: 16%;
    margin: auto;
    width: 70%;
    margin-top: 6%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
}

.Quiz_begin_entry>h2{
    text-align: center;
    text-decoration: underline black;
    font-family: cursive;
    padding: 5px;
    border: 3px solid grey;
    font-size: clamp(10px, 4vw, 20px);
    background-color: aliceblue;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.Quiz_begin_main_img {
    width: clamp(10px, 70vh, 180px);
    border: 4px solid rgb(78, 77, 74);
    aspect-ratio: 10/9;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: fit-content;
    background-color: white;
}

.Quiz_begin_main_paragraph > p {
    border-radius: 9px;
    background-color: white;
    margin-top: 16px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 40%;
    border: 2px solid black;
    font-family: sans-serif;
    padding: 14px;
}

.Quiz_begin_main_paragraph > p > span {
    display: block;
    margin-bottom: 10px;
    padding: 0 0 9px 0;
    width: 100%;
    position: sticky;
    top: 0px;
    font-weight: bolder;
    font-size: 18px;
    background-color: white;
    color: orangered;
    text-decoration: underline black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Quiz_begin_main_paragraph {
    background-color: white;
    height: 80%;
    width: 90%;
    margin: auto;
    margin-top: 1%;
}

.Quiz_begin_back,
.Quiz_begin_start {
    position: absolute;
    bottom: 15%;
    border-radius: 10px;
    height: 25px;
    width: 80px;
}

.Quiz_begin_back {
    left: 12vw;
}

.Quiz_begin_start {
    left: 60%;
}

.Quiz_begin_back:hover,
.Quiz_begin_start:hover {
    font-size: 13px;
    font-weight: bolder;
}

@media only screen and (min-width: 1000px) {
    .Quiz_begin_main_paragraph {
        display: flex;
        gap: 8%;
        align-items: center;
    }

    .Quiz_begin_main_img {
        width: clamp(60px, 30vw,140px) !important;
        aspect-ratio: 10/9;
    }

    .Quiz_begin_main {
        height: 53%;
        position: absolute;
        top: 5%;
        left: 16%;
        margin: auto;
        margin-top: 50px;
        width: 70%;
        background-color: azure;
        box-shadow: -1px 0px 10px 3px cadetblue;
        border: 2px solid gray;
        border-radius: 20px;
    }
    .info{
        min-width:450px;
        width: 40vw;
    }
}

p > a {
    color: blue;
    background-color: transparent;
}

p > a:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff7eb3, #ff758c);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff5370, #ff3d61);
}
