

.achievements-section {
  padding: 3rem 1.5rem;
  background: #0b0b0b;
  color: #fff;
  width: 100vw;
  height:  250vh;
  font-family: 'Segoe UI', sans-serif;
border-bottom: 16px solid #0d0200;
transform: translateY(-110vh);
overflow: hidden;
scrollbar-color: black;
}
.adder {
height: 100vh;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}

.achievements-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #00f2fe, #4facfe);
  -webkit-text-fill-color: transparent;
}

.achievements-container {
  display: grid;
  grid-auto-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}

.achievement-card {
  background: #1a1a1a;
  margin: auto;
  border: 1px solid #2c2c2c;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  min-width: 50vw;
  max-width:fit-content;
  align-items: flex-start;
  gap: 4rem;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
}

.achievement-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 255, 255, 0.15);
}

.achievement-icon {
  font-size: 2.5rem;
  flex-shrink: 0;
}

.achievement-text h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.achievement-text p {
  margin-top: 0.3rem;
  color: #ccc;
  font-size: 0.95rem;
}
