* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.main {
  background-color: #111;
  height: 100vh;
}

.nav {
  background-color: #1e1e1e;
  width: 90%;
  margin: 4px auto 0;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border: 1.5px solid #8f00ff;
  box-shadow: 0 0 12px rgba(143, 0, 255, 0.4);
}

.nav_link {
  background-color: #2a2a2a;
  border: 1px solid #444;
  color: #e0e0e0;
  font-size: clamp(10px, 2vw, 18px);
  padding: 4px 6px;
  list-style-type: none;
  font-weight: bold;
  margin: auto;
  height: fit-content;
  border-radius: 6px;
  transition: all 0.3s;
}

.nav_link:hover:nth-child(1) {
  background-color: #ff5722;
  color: #fff;
  cursor: pointer;
}
.nav_link:hover:nth-child(2) {
  background-color: #03a9f4;
  color: #fff;
  cursor: pointer;
}

.logo {
  display: flex;
  gap: 10px;
  background-color: #1c1c1c;
}

.logo a {
  padding: 3px 10px;
  background-color: transparent;
  color: #8f00ff;
  border: 1.5px solid #8f00ff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.logo a:hover {
  background-color: #8f00ff;
  color: #fff;
  border-color: #fff;
}

.svg {
  width: 30px;
  aspect-ratio: 1;
  background-color: #222;
  color: white !important;
  box-shadow: 1px 1px 6px rgba(143, 0, 255, 0.4);
  border-radius: 4px;
}

.box {
  margin-top: clamp(10px, 10vh, 100px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.img {
  width: clamp(80px, 80%, 500px);
  aspect-ratio: 10/6;
  background-image: url('assests/main.jpg');
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(143, 0, 255, 0.4);
}

.m1 {
  background-color: #222;
  padding: 15px;
  border-radius: 18px;
  box-shadow: 0 0 12px rgba(143, 0, 255, 0.2);
  width: fit-content;
  color: #eaeaea;
}

.m1 h1 {
  background-color: #111;
  padding: 5px 10px;
  border: 2px solid #8f00ff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(143, 0, 255, 0.3);
  color: #fff;
}

.m1 button {
  display: block;
  margin: auto;
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  background-color: #8f00ff;
  color: #fff;
  transition: background-color 0.3s;
}

.m1 button:hover {
  background-color: #d20f0f;
  cursor: pointer;
}

.menu:hover {
  cursor: pointer;
}

.info {
  position: absolute;
  left: -100%;
  top: 1vh;
  background-color: #222;
  width: clamp(130px, 45vw, 350px);
  height: 90vh;
  padding: 10px;
  border: 2px solid #8f00ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 16px rgba(143, 0, 255, 0.3);
  transition: all 1s;
  color: #fff;
}

.info_class {
  left: 0%;
  transition: all 1s;
}

.info .ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 25%;
}

.info .ol li {
  font-size: clamp(12px, 3vw, 17px);
  transition: color 0.3s ease;
}

.info .ol li:hover {
  cursor: pointer;
  color: #8f00ff;
}

.info h2 {
  margin-bottom: 20px;
  color: #8f00ff;
  background-color: transparent;
  text-decoration: underline;
}

.info button {
  position: absolute;
  bottom: 20vw;
  padding: 5px 10px;
  border: 1px solid #8f00ff;
  background-color: transparent;
  color: white;
  border-radius: 5px;
}

.info button:hover {
  box-shadow: 0 0 10px #8f00ff;
  background-color: #8f00ff;
  color: white;
}

.information {
  background-color: #181818;
  height: 100vh;
  padding: clamp(2px, 2vh, 10px);
  color: white;
}

.paragraph {
  width: clamp(80px, 80vw, 650px);
  height: clamp(200px, 80vh, 400px);
  margin: auto;
  padding: 10px;
  background-color: #1f1f1f;
  overflow: auto;
  border: 2px solid #8f00ff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 10px rgba(143, 0, 255, 0.3);
  position: relative;
}

.paragraph p {
  background-color: transparent;
}

.paragraph h2 {
  color: #ff4081;
}

.information button {
  margin-top: 4%;
  margin-left: 40%;
  padding: 5px 10px;
  background-color: #8f00ff;
  color: white;
  border: none;
  border-radius: 4px;
  transition: box-shadow 0.3s;
}

.information button:hover {
  box-shadow: 0 0 12px #8f00ff;
}
