* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.main {
    background-color: #f4e4d0;
    height: 100vh;
}

.nav {
    background-color: aliceblue;
    width: 90%;
    margin: 4px auto 0;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    border: 1.4px solid black;
}

.nav_link {
    background-color: #eff4f7;
    border: 1px solid rgb(232, 227, 227);
    color: black;
    font-size: clamp(10px,2vw,18px);
    height: fit-content;
    margin-top: 5px;
    padding: 4px 6px 4px 6px ;
    list-style-type: none;
    font-weight: bolder;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 1px 1px gray;
}

.nav_link:hover:nth-child(1) {
    background-color: rgb(250, 86, 4);
    cursor: pointer;
}
.nav_link:hover:nth-child(2) {
    background-color: rgb(4, 209, 250);
    cursor: pointer;
}

.logo {
    display: flex;
    gap: 10px;
    background-color: white;
}

.logo a {
    padding: 3px;
    background-color: white;
    color: blue;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.logo a:hover {
    background-color: rgb(17, 116, 128);
     border-color: rgb(37, 36, 33);
     color: white;
}

.svg {
    width: 30px;
    aspect-ratio: 1;
    background-color: #f4eeee;
    color: black !important;
    overflow: hidden;
    box-shadow: 1px 1px 1px gray;
}

.box {
    margin-top: clamp(10px, 10vh, 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.img {
    width: clamp(80px, 80%, 500px);
    aspect-ratio: 10/6;
    background-image: url('assests/main.jpg');
    background-size: cover;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 5px gray;
}

.m1 {
    background-color: aqua;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 1px 2px 8px 3px gray;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    width: fit-content;
}

.m1 h1 {
    background-color: #f8f3ed;
    padding: 5px 10px;
    font-size: clamp(20px, 7vw, 40px);
    border: 1.8px solid grey;
    border-radius: 18px;
    box-shadow: 1px 2px 8px 3px gray;
}

.m1 button {
    display: block;
    margin: auto;
        font-size: clamp(10px, 7vw, 20px);
    padding:1px 10px 1px 10px;
    margin-top: 10%;
    border-radius: 5px;
}

.m1 button:hover {
    background-color: rgb(212, 8, 8);
    cursor: pointer;
}

.menu:hover {
    cursor: pointer;
}

.info {
    position: absolute;
    left: -100%;
    top: 1vh;
    background-color: #f3ebeb;
    width: clamp(130px, 45vw, 350px);
    height: 90vh;
    padding: 3px;
    border: 2px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 0 8px 8px gray;
    transition: all 1s;
}

.info_class {
    left: 0%;
    transition: all 1s;
}

.info .ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 25%;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.info .ol li {
    font-size: clamp(12px, 3vw, 17px);
}

.info .ol li:hover {
    cursor: pointer;
    color: blue;
}

.info h2 {
    margin-bottom: 20px;
    color: brown;
    background-color: white;
    text-decoration: underline;
}

.info button {
    position: absolute;
    bottom: 20vw;
    padding: 5px;
    width: fit-content;
    border: 2px solid gray;
}

.info button:hover {
    box-shadow: 1px 1px 2px 2px black;
}

.information {
    background-color: aliceblue;
    height: 100vh;
    padding: clamp(2px, 2vh, 10px);
}

.paragraph {
    width: clamp(80px, 80vw, 650px);
    height: clamp(200px, 80vh, 400px);
    margin: auto;
    padding: 5px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    background-color: aliceblue;
    overflow: auto;
    border: 2px solid #16161a;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 2px 8px 3px gray;
    position: relative;
}

.paragraph p {
    background-color: aliceblue;
}

.paragraph h2 {
    color: brown;
}

.information button {
    margin-top: 4%;
    margin-left: 40%;
    padding: 5px;
    background-color: blanchedalmond;
    font-size: clamp(6px, 5vw, 15px);
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
}

.information button:hover {
    box-shadow: 1px 2px 3px 3px gray;
}
